@model List<Day6EFDBDemo.Models.Product>
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_LayoutPage1.cshtml";
}

<form class="form-inline" action="/Products/Index">
    <label for="search" class="mr-1">Search</label>
    <input type="search" class="form-control-mr-1" id="search" name="search" placeholder="Search" value="@ViewBag.search" />
    <button type="submit" class="btn btn-primary">GO</button>
</form>
<a href="/Products/Create/" class="btn btn-outline-primary">Create Product</a>

<table class="table">
    <tr class="table-secondary">
        <th style="width:15%">Photo</th>
        <th style="width:5%">
            @if (ViewBag.IconClass == "fa-sort-desc")
            {
                <a href="/products/index?SortColumn=productId&IconClass=fa-sort-asc&PageNo=1">Product ID</a>
                if (ViewBag.SortColumn == "productId")
                {
                    <i class="fa @ViewBag.IconClass"></i>

                }
            }
            else
            {
                    <a href="/products/index?SortColumn=productId&IconClass=fa-sort-desc&PageNo=1">Product ID</a>
                if (ViewBag.SortColumn == "productId")
                {
                        <i class="fa @ViewBag.IconClass"></i>

                    }
            }
        </th>
        <th style="width:20%">
            @if (ViewBag.IconClass == "fa-sort-desc")
            {
                <a href="/products/index?SortColumn=productName&IconClass=fa-sort-asc&PageNo=1">Product Name</a>
                if (ViewBag.SortColumn == "productName")
                {
                    <i class="fa @ViewBag.IconClass"></i>

                }
            }
            else
            {
                    <a href="/products/index?SortColumn=productName&IconClass=fa-sort-desc&PageNo=1">Product Name</a>
                if (ViewBag.SortColumn == "productName")
                {
                        <i class="fa @ViewBag.IconClass"></i>

                    }
                }
        </th>
        <th style="width:5%">
            @if (ViewBag.IconClass == "fa-sort-desc")
            {
                <a href="/products/index?SortColumn=price&IconClass=fa-sort-asc&PageNo=1">Price</a>
                if (ViewBag.SortColumn == "price")
                {
                    <i class="fa @ViewBag.IconClass"></i>

                }
            }
            else
            {
                    <a href="/products/index?SortColumn=price&IconClass=fa-sort-desc&PageNo=1">Price</a>
                if (ViewBag.SortColumn == "price")
                {
                        <i class="fa @ViewBag.IconClass"></i>

                    }
                }
        </th>
        <th style="width:10%">
            @if (ViewBag.IconClass == "fa-sort-desc")
            {
                <a href="/products/index?SortColumn=dateOfPurchase&IconClass=fa-sort-asc&PageNo=1">Date of Purchase</a>
                if (ViewBag.SortColumn == "dateOfPurchase")
                {
                    <i class="fa @ViewBag.IconClass"></i>

                }
            }
            else
            {
                    <a href="/products/index?SortColumn=dateOfPurchase&IconClass=fa-sort-desc&PageNo=1">Date of Purchase</a>
                if (ViewBag.SortColumn == "dateOfPurchase")
                {
                        <i class="fa @ViewBag.IconClass"></i>

                    }
                }
            
        </th>
        <th style="width:5%">
            @if (ViewBag.IconClass == "fa-sort-desc")
            {
                <a href="/products/index?SortColumn=availabilityStatus&IconClass=fa-sort-asc&PageNo=1">Availability Status</a>
                if (ViewBag.SortColumn == "availabilityStatus")
                {
                    <i class="fa @ViewBag.IconClass"></i>

                }
            }
            else
            {
                    <a href="/products/index?SortColumn=availabilityStatus&IconClass=fa-sort-desc&PageNo=1">Availability Status</a>
                if (ViewBag.SortColumn == "availabilityStatus")
                {
                        <i class="fa @ViewBag.IconClass"></i>

                    }
                }
            
            </th>
        <th style="width:10%">
            @if (ViewBag.IconClass == "fa-sort-desc")
            {
            <a href="/products/index?SortColumn=categoryId&IconClass=fa-sort-asc&PageNo=1">Category Name</a>
                if (ViewBag.SortColumn == "categoryId")
                {
                    <i class="fa @ViewBag.IconClass"></i>

                }
            }
            else
            {
                    <a href="/products/index?SortColumn=categoryId&IconClass=fa-sort-desc&PageNo=1">Category Name</a>
                if (ViewBag.SortColumn == "categoryId")
                {
                        <i class="fa @ViewBag.IconClass"></i>

                    
                }
            }
            </th>
        <th style="width:10%">
            @if (ViewBag.IconClass == "fa-sort-desc")
            {
                <a href="/products/index?SortColumn=brandId&IconClass=fa-sort-asc&PageNo=1">Brand Name</a>
                if (ViewBag.SortColumn == "brandId")
                {
                    <i class="fa @ViewBag.IconClass"></i>

                }
            }
            else
            {
                    <a href="/products/index?SortColumn=brandId&IconClass=fa-sort-desc&PageNo=1">Brand Name</a>
                if (ViewBag.SortColumn == "brandId")
                {
                        <i class="fa @ViewBag.IconClass"></i>

                    
                }
            }
            </th>
        <th style="width:5%">Active</th>
        <th style="width:20%"></th>
    </tr>
    @foreach (var item in Model)
    {
<tr>
    <td><img src="data:image;base64,@item.Photo" width="50px" /></td>
    <td>@item.productId</td>
    <td>@item.productName</td>
    <td>
        @if (item.price.HasValue)
        {
            <span>@item.price.Value.ToString("C")</span>
        }
    </td>
    <td>
        @if (item.dateOfPurchase.HasValue)
        {
            <span>@item.dateOfPurchase.Value.ToString("yyyy/MM/dd")</span>
        }
    </td>
    <td>@item.availabilityStatus</td>
    <td>
        @if (item.Category != null)
        {
            <span>@item.Category.categoryName</span>
        }
    </td>
    <td>
        @if (item.Brand != null)
        {
            <span>@item.Brand.brandName</span>
        }
    </td>
    <td>@item.active</td>
    <td>
        <a href="/Products/Details/@item.productId" class="btn btn-outline-primary">Details</a>
        <a href="/Products/Update/@item.productId" class="btn btn-outline-primary">Update</a>
        <a href="/Products/Delete/@item.productId" class="btn btn-outline-primary">Delete</a>
    </td>
</tr>

    }


<tr>
    <td colspan="9">
    @{ 
        int PrevPageNo = ViewBag.PageNo - 1;
        if(PrevPageNo <= 0)
        {
            PrevPageNo = 1;
        }

        int NextPageNo = ViewBag.PageNo + 1;
        if(NextPageNo > ViewBag.NoOfPages)
        {
            NextPageNo = ViewBag.NoOfPages;
        }
    }
        <ul class="pagination justify-content-center">
            <li class="page-item active">
                <a class="page-link" href="/products/index?SortColumn=@ViewBag.SortColumn&IconClass=@ViewBag.IconClass&PageNo=@PrevPageNo">Prev</a>
            </li>
            @for (int i = 0; i < ViewBag.NoOfPages; i++)
            {
                if ((i + 1) == ViewBag.PageNo)
                {
                    <li class="page-item active">
                        <a class="page-link" href="/products/index?SortColumn=@ViewBag.SortColumn&IconClass=@ViewBag.IconClass&PageNo=@(i+1)">@(i+1)</a>
                    </li>
                }
                else
                {
                    <li class="page-item">
                        <a class="page-link" href="/products/index?SortColumn=@ViewBag.SortColumn&IconClass=@ViewBag.IconClass&PageNo=@(i+1)">@(i+1)</a>
                    </li>
                }

            }
            <li class="page-item active">
                <a class="page-link" href="/products/index?SortColumn=@ViewBag.SortColumn&IconClass=@ViewBag.IconClass&PageNo=@NextPageNo">Next</a>
            </li>
        </ul>
    </td>
</tr>
</table>

